@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --sugar-cane: #fefffe;
}

html,
body {
  font-family: "Proxima Nova", -apple-system, sans-serif;
  background-color: var(--white);
  color: var(--sugar-cane);
}

main {
  width: 100%;
  overflow: hidden;
}
